.reveal {
    h1 {
        font-size: 1.75em;
    }

    img.inline {
        display: inline-block;
    }

    a.small-link {
        font-size: 0.6em;
    }

    blockquote strong {
        color: #cc9463;
        font-weight: 800;
    }

    p {
        max-width: 1100px;
    }
}
